@import "tailwindcss";
@font-face {
  font-family: "Aqua";
  src: url('/aqua.ttf');
}


body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}



* {
  box-sizing: border-box;
}

/*.button {
  @apply bg-[#B8A9FF] rounded-[3] text-[#F2FDFF] text-sm w-[150px]   p-3 text-shadow-2xs

}*/

.logo{
 font-family: "Aqua";
 font-size: 1.7rem;
 text-align: center;
 padding-top: 5;
}

#button:hover {
  cursor: pointer;
  background-color: #9d90de;
}

.userStats{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding-bottom: 20;
}

h3{
  font-weight: bold;
  font-size: x-large;
}

.inputText {
  @apply bg-[#757575] rounded-[5] text-lg text-stone-400 h-[50px] w-[500px] pl-10 shadow
}

.inputText:hover {
  background-color: rgb(241, 241, 241);
}

.container {
  @apply w-full h-full flex flex-1;
}

.imageLogin {
  @apply w-[50%]
}

.containerLogin{
  @apply w-[50%] h-full gap-[100px] p-20 bg-[#050F2A] text-white
}

.dropDownButton {
  @apply flex gap-3 p-3 pr-6 justify-center font-bold text-stone-500 items-center border-0 border-r-2 border-stone-300
}

.dropDownButtonWhite {
  @apply flex h-10 gap-3 p-3 pr-6 justify-center text-xs text-white items-center border-r-0
}

